// Vars
$black: #010000;
$white: #ffffff;
// $lightGray: #e6e6e6;
// $darkGray: #333;
// $red: #ff1755;
// $base1: #2e4157;
// $base2: #152538;
// $background: $base1;

// mixins
@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}
@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

body {
    margin: 0px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: $black;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    @include transition(.4s ease-in-out);
    cursor: pointer;
    &:hover {
        color: $white;
        @include transition(.4s ease-in-out)
    }
}
.container-fluid {
    line-height: 24px;
}

