@import "_config.scss";

header {
    
    height: 100px;
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;    
    color: $white;

    nav {
        right: 15px;
        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;
        }
        
    }
}
